.header {
  /* display: flex; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: 15% 1fr ;
  position: relative;

  background: lightgray;

  border-bottom: 2px solid rgb(255, 166, 0);
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  max-width: 200px;
  display: flex;
  align-items: flex-start;
}


